<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ekin Bukulmez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Infant|Pattaya|Prociono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <v-parallax
            dark
            src=".\assets\img\abstract.jpg"
        >
            <v-layout
                align-center
                column
                justify-center
            >
                <h1>Hello! My Name is Ekin</h1>
                <h4>Full-time dev, part-time parody</h4>
                
            </v-layout>
        </v-parallax>

        <v-container>
            <div id="timeline">
                <h1>My Work</h1>
                <v-timeline align-top>
                    <v-timeline-item
                        v-for="item in items"
                        :key="item.icon"
                        :color="item.color"
                        :icon="item.icon"
                        fill-dot
                    >       
                        <v-card
                            :color="item.color"
                            dark
                            hover
                        >
                            <v-card-title class="title">
                                {{ item.title }}

                            </v-card-title>
                            <p class="ml-4 subheading">
                                {{ item.date }}
                            </p>
                            <v-card-text class="white black--text">
                                {{ item.text }}
                            </v-card-text>
                            <v-card-actions>
                                <v-layout>
                                    <v-btn
                                        :href="item.link"
                                    >
                                        {{ item.button }}
                                    </v-btn>
                                </v-layout>
                            </v-card-actions>
                        </v-card> 
                    </v-timeline-item>
                </v-timeline>

            </div>
        </v-container>
    
       <v-footer
        dark
        height="auto"
       >
        <v-card
            flat
            tile
            class="black--text text-xs-center flex"
        >
            <v-card-text>
                <v-btn
                    v-for="icon in icons"
                    icon
                    :href="icon.to"
                    class="mx-3"
                >
                    <v-icon>
                        {{ icon.img }}
                    </v-icon>
                
                </v-btn>
            </v-card-text> 
            
            <v-card-text>
                Thank you so much for visiting! Feel free to check out my social media links above!
            </v-card-text>

            <v-divider></v-divider>

            <v-card-text>
                Made with 💝 by Ekin Bukulmez
            </v-card-text>
        </v-card>
        

       </v-footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script>
        new Vue({ 
            el: '#app', 
            data: () => {
                return {
                    icons: [
                        { img: 'fab fa-github', to: 'https://github.com/ekinbukulmez' },
                        { img: 'fab fa-linkedin', to: 'https://www.linkedin.com/in/ekinbukulmez/' },
                        { img: 'fas fa-envelope-square', to: 'mailto:22412569@student.uwa.edu.au' },
                    ],
                    items: [
                        {
                            color: '#4F518C',
                            icon: 'work',
                            title: 'Software Developer at Mote Net',
                            date: '2 January 2019 - Present',
                            text: `I am currently working at Mote Net, a Perth-based start-up that is developing smart farm technologies
                                    for Western Australian farmers. I am currently developing the user-friendly Mote Net dashboard, which
                                    displays farm for the user to utilise. `,
                            button: 'Learn More',
                            link: 'https://mote.net.au/'
                        },
                        {
                            color: '#2C2A4A',
                            icon: 'computer',
                            title: 'Web Development Intern at Mission Australia',
                            date: '14 March 2018 - Present',
                            text: `I worked on the early version of the No Wrong Door project, which enabled users to browse through 
                                    non-profit resources in Western Australia based on their suburb, age, and area of need. I am currently working on a second version of the website using Vue.js
                                    for improved perfromance.`,
                            button: 'VERSION I',
                            link: 'https://www.ekinbukulmez.me/NoWrongDoor'
                        },
                        {
                            color: '#907AD6',
                            icon: 'school',
                            date: '27 February 2018 - December 2019',
                            title: 'Computer Science, BS, at University of Western Australia',
                            text: ``,
                        },
                        {
                            color: '#372549',
                            icon: 'book',
                            title: 'Global Business, BS, at the University of Texas at Dallas',
                            date: 'August 2015 - November 2017',
                            text: ``,
                        },
                        
                    ],
                }
            },
        });
    </script>
</body>
</html>
