@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

@-ms-viewport {
    width: device-width ;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    color: indigo;
    background: url("../../assets/img/color.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 100px;
    font-family: 'Pattaya', sans-serif;
}

.header .navbar-nav>li>a {
    color: indigo;
    font-size: 18px;
    border-radius: 10px;
}

.header .navbar {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom:none;
    background-color: transparent;
    min-width: 300px;
    border: none;
}

.header .hero {
    padding: 40px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}


.header h3 {
    font-size: 40px;}

#greet {
    color:white;
    font-weight: bold;
    font-size: 65px;
    margin-top: 120px;
    margin-bottom: 36px;
    font-weight: bolder;
    padding: 20px;
   
}

#more {
    color: black;
    background-color: whitesmoke;
    opacity: 0.85;
    border-color: black !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    padding: 18px 24px;
    transition:0.2s background-color;
    text-decoration: none;
}

#more:hover {
    background-color: white;
    opacity: 1.0;
}

#more:active {
    transform:translateY(1px);
}

@media screen and (max-width: 767px) {

    .header .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #fff;
        font-size: 16px;
    }

    .header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #ccc;
    }

    .header .navbar-collapse {
        margin-left: 20px;
        border-top: none;
        box-shadow: none;
    }

    .header .hero{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .header .hero h1{
        font-size: 42px;
    }
}


#intro h1, #non-prof h1 {
    font-family: 'Pattaya', sans-serif;
}

#nwd {
    float: left;
    margin-right: 10px;
}

#skills p {
    padding-top: 32px;    
}

#skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#skills ul li {
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
}

#htmlic {
    color: red;
}

#cssic {
    color: blue;
}

#jsic {
    color: yellow;
}

#pythic {
    color: navy;
}

#javaic {
    color: orange;
}

#winic {
    color: lightskyblue;
}

#appic {
    color: grey;
}

#skills ul, #non-prof-inner ul {
    list-style-type: none;

}

#summ, #skills, #non-prof-inner {
    font-family: 'Prociono', serif;
    font-size: 20px;
}

h4, h5 {
    font-size: 23px;
}
#inter p {
    font-weight: bold;
}