@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

@-ms-viewport {
    width: device-width ;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Pattaya', sans-serif;
}

body {
    font-family: 'Convergence', sans-serif;
}
